.grid-container {
  height: 100%;
  display: grid;
  grid-template: 80px 300px 30px / repeat(auto-fit, 1fr);
  grid-template-areas:
    "h h h m m m m m m m m m"
    "c c c c c c c c c c c c"
    "f f f f f f f f f f f f";
}

.header {
    grid-area: h;
    background-color: grey;
}

.menu {
  grid-area: m;
  background-color: grey;
}

.content {
  grid-area: c;

}

.footer {
  grid-area: f;

}
