.grid-container {
  height: 100%;
  display: grid;
  grid-template: 80px 300px 30px / repeat(11, 1fr);
  grid-template-areas:
    "h h h l1 l1 l2 l2 l3 l3 l4 l4"
    "c c c c c c c c c c c c"
    "f f f f f f f f f f f f";
}

.header {
    grid-area: h;
    background-color: grey;
}

.l1 {
  grid-area: l1;
  background-color: grey;
}

.l2{
  grid-area: l2;
}

.l3{
  grid-area: l3;
}

.l4{
  grid-area: l4;
}

.content {
  grid-area: c;

}

.footer {
  grid-area: f;

}
